@import '../../variables.css';

.Content{
    width: calc(100% - 25%);
    min-height: 100vh;
    padding: 100px 0;
    background-color: var(--color-black);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: 0;
}

.subContent{
    width: 100%;
    min-height: 100vh;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}
.subContent.ativo{
    display: flex;
}

.subContent .imagem{
    width: 280px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: all .5s;
}

.subContent .imagem:hover{
    transform: scale(1.1);
}

.wellc.desactive {
    display: none;
}
.wellc{
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wellc h1{
    font-size: 3em;
    color: var(--background-yellow);
}
.wellc img{
    width: 600px;
    height: 500px;
}

.notFound{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFound img{
    width: 600px;
    height: 500px;
}
.notFound h2{
    font-size: 3em;
    color: var(--background-yellow);
}

.notFound{
    display: none;
}

.notFound.active{
    display: flex;
}