*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body{
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--background-white);
    position: relative;
}

.root, .App{
    width: 100%;
    min-height: 100vh;
}
.App{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}